* {
    background-color: #d1d1cb;
}

img {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.center {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

ol {
    display: inline-block;
    text-align: left;
}